/*
 *  Author: SpringHack - springhack@live.cn
 *  Last modified: 2021-09-14 19:17:28
 *  Filename: index.css
 *  Description: Created by SpringHack using vim automatically.
 */
.passport-frame {
  background: white;
  position: fixed;
  width: 400px;
  height: 400px;
  left: 0;
  top: calc(50vh - 200px);
  margin: 0 auto;
  right: 0;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 20px 0px;
}
